.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

nav {
  height: 10vh;
  background-color: lightgray;
  display: flex;
  justify-content: space-between;
  padding-left: 5vw;
  padding-right: 5vw;
  align-items: center;
}

.login-page {
  height: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 3rem;
}

.dashboard-page {
  flex-direction: column;
  height: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 3rem;
}
.dashboard-buttons {
  display: flex;
  justify-content: space-between;
}

.logout-btn {
  position: relative;
  width: max-content;
}

.login-form {
  width: 50vw;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 3rem;
}

input{
  background-color: rgb(241, 241, 241);
  color: black;
  border: 1px solid black;
  border-radius: 0.5rem;
  height: 2.5rem;
  margin-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}:focus {
  outline: none;
}

.todo-card {
  border: 1px solid black;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.todo-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.todo-buttons {
  display: flex;
  justify-self: end;
  flex-direction: column;
  justify-content: center;
}

hr {
  width: 100%;
}


@media screen and (max-width: 400px){
  .login-form{
    width: 90vw
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
